.product-selection {
  margin-bottom: 20px;
}

.product-selection__button {
  transition: all 0.2s ease-in-out;
  background-color: #344478;
  border: 2px solid transparent;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  margin: 0 0.1em;
  padding: 0.1em 0.2em;
  text-decoration: none;
}

.product-selection__button:hover {
  border-color: #c5de1e;
  color: #c5de1e;
}

.product-selection__button:focus {
  outline: 0;
}
